* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tela-inicial {
    width: 100%;
    height: 100vh;
    background-color: #c8a97e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 40px;
    overflow: hidden;
}

.inconvoltar {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 10;
}

.inconvoltar img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.inconvoltar img:hover {
    transform: scale(1.1);
}

.titulo {
    flex: 1;
    text-align: left;
    margin-left: 100px;
}

.titulo h1 {
    color: black;
    font-size: 4rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.imagemfamilia {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10rem;
}

.imagemfamilia img {
    width: 500px;
    height: auto;
    object-fit: contain;
}

.cards-personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e;
    padding: 60px 20px;
    gap: 3rem;
}


.personagens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c2c2c;
    border-radius: 12px;
    padding: 30px;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.personagens:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
}


.conteudo {
    flex: 1;
    color: #fff;
    text-align: left;
    padding-right: 40px;
}

.conteudo h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ffcc66;
}

.conteudo p {
    font-size: 1rem;
    line-height: 1.6;
    color: #ddd;
}


.imagem {
    flex-shrink: 0;
}

.imagem img {
    width: 200px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

@media (max-width: 900px) {
    .tela-inicial {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .titulo {
        margin-left: 0;
        margin-top: 150px;
        text-align: center;

    }

    .imagemfamilia {
        margin-right: 0;
        justify-content: center;
    }

    .imagemfamilia img {
        width: 600px;
    }
}

@media (max-width: 900px) {
    .personagens {
        flex-direction: column;
        text-align: center;
    }

    .conteudo {
        padding-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .imagem img {
        width: 180px;
    }
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
}